
{{> noteModal }}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <span class="text-light">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>News Ruse</b></a>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/saved">Saved Articles</a></li>
          <li><a class="btn btn-warning" style="color:white">Scrape New Articles</a></li>
      </ul>
    </span>
  </div>
</nav>

<div class="jumbotron text-center" style="background-color:#00a8ff">
  <div class="caption">
    <h1>News Ruse</h1>
    <p>The Daily Skimm Edition</p>
  </div>
</div>
   
<div class="container mt-5">
    <div class="container">
      {{#each articles}}
            {{#unless saved}}
                <div class="alert alert-secondary" id="navbar-shadow">
                    <div class="row ml-1 my-1 divider "><h3>{{this.title}}</h3></div>
                    <div class="row mt-2">
                      {{!-- for later use if want to add an image --}}
                        <div class="col-12 col-md-3 mr-3"></div>
                        <div class="col-12 col-md-8">
                            <div class="row"><p>{{this.summary}}</p></div>
                            <div class="row">
                                    <button data-id={{_id}} type="submit" class="btn btn-warning mr-4 my-2 saveArticleBtn">
                                                <i class="far fa-save fa-lg saveArticleBtn"></i>  Save Article
                                    </button>
                                <button data-toggle="modal" data-target="#myModal" data-id={{_id}} type="submit" class="btn btn-warning mr-4 my-2 addNoteBtn">
                                        <i class="far fa-sticky-note fa-lg"></i> Notes
                                </button>
                                <button type="submit" class="btn btn-outline-dark mr-4 my-2">
                                        <a class="nav-link" href={{this.link}} target="_blank">
                                            <span class="navItem"><i class="far fa-newspaper fa-lg"></i>  View Details</span> 
                                        </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/unless}}
      {{/each}}
    </div>
</div>
  

<footer class="footer">
  <div class="container-fluid" style="background-color:#d7d7d7">
  <p style="color:black; text-align:center"><b>The Daily Skimm Mongo Scrapper</b></p> 
  </div>
</footer>

